<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Olá! Meu nome é Laura, tenho 22 anos e sou Psicóloga, atendendo tanto adultos quanto adolescentes ajudando-os a navegar os desafios de sua saúde mental.
                <br>
                <br>
                "Encontrei o significado da minha vida, ajudando os outros a encontrarem o sentido de suas vidas." - Viktor Frankl</p>
        </section>

        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>mlaura.lmoura&#64;gmail.com</li>
                <li><i class="fa-solid fa-phone"></i>+55 83 9804-1162</li>
                <li><i class="fa-brands fa-whatsapp"></i>+55 83 9804-1162</li>
            </ul>
        </address>

        
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados.
    </section>
</footer>
