<div class="container">
    <img src="assets/laura.png" alt="Foto de Laura">
    
        <div class="texto">
            Olá! Meu nome é Laura, tenho 22 anos e sou Psicóloga, atendendo tanto adultos quanto adolescentes ajudando-os a navegar os desafios de sua saúde mental.
        </div>
    
</div>

<section class="product-list">
    <div class="product-list__card">
        <a routerLink="/produtos/" class="product-list__link">
            <img src="/assets/logoterapia2.jpg">
            <h2 class="product-item--nome"></h2>
            <p class="product-item__price">Logoterapia</p>
            <p class="product-item__price-description">A logoterapia é uma abordagem de caráter multidisciplinar com base fenomenológica, existencialista e humanista com foco no auxílio da busca de sentido.</p>
            <button class="product-item__buy-button">Leia Mais</button>
        </a>
    </div>
    <div class="product-list__card">
        <a routerLink="/produtos/" class="product-list__link">
            <img src="/assets/Psi2.svg.png">
            <h2 class="product-item--nome"></h2>
            <p class="product-item__price">Psicologia</p>
            <p class="product-item__price-description">Psicologia é a ciência que trata, estuda e analisa os processos mentais e comportamentos de indivíduos e grupos humanos em diferentes situações.</p>
            <button class="product-item__buy-button">Leia Mais</button>
        </a>
    </div>
    <div class="product-list__card">
        <a routerLink="/produtos/" class="product-list__link">
            <img src="/assets/Viktor_Frankl2.jpg">
            <h2 class="product-item--nome"></h2>
            <p class="product-item__price">Viktor Frankl</p>
            <p class="product-item__price-description">Neuropsiquiatra austríaco e fundador da terceira escola vienense de psicoterapia, a Logoterapia e Análise Existencial.</p>
            <button class="product-item__buy-button">Leia Mais</button>
        </a>
    </div>
</section>